doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Band Template
        link(rel='shortcut icon', href='../images/fav_icon.png', type='image/x-icon')
        // Bulma Version 0.7.2
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js')
        style.
            /* background */
            .hero {
            background:  url(/images/rand.jpg) center / cover;
            }
    body
        section.hero.is-fullheight
            section.section
                .container.has-text-centered
                    figure.imag.is-128x128
                        img(src='/images/logo.png')
                    .column
                    .column
                    .column
                    .container-padding-5.has-text-centered
                        h2.title.has-text-white
                            p
                                | Meet other travellers, who are travelling to the same destination as you. Have a friendly chat with them, and book accommodation as a group.
                        .column
                        .column
                        .column
                            h2.title
                                a(href='#')
                                .dropdown-item
                                    a(href='#')
                                    a.button.is-primary.is-rounded(href="/groups") Browse different groups
            section.section
            script(src='/javascripts/bulma.js')