doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title=title
    
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      .container
        .navbar-brand
          a.navbar-item(href='/groups')
            img(src='/images/logo.png', alt='Logo')
          |                         
          span.navbar-burger.burger(data-target='navbarMenu')
            span
            |                         
            span
            |                         
            span
        |                     
        #navbarMenu.navbar-menu
          .navbar-end
            a.navbar-item(href="/")
              | About
            |   
            a.navbar-item(href="/groups")
              | Browse
            |                         
            .navbar-item.has-dropdown.is-hoverable
              if(user)
                a.navbar-link=name
              else
                a.navbar-link Account
              if(user)                                 
                .navbar-dropdown
                  a.navbar-item(href="/groups/list")
                    | My groups                            
                  a.navbar-item(href="/user-profile/"+id_user)
                    | Profile                            
                  hr.navbar-divider
                  |                                     
                  a.navbar-item(href="/login/logout")
                    | Logout
              else
                .navbar-dropdown
                  a.navbar-item(href="/login")
                    | Login  
    block content