extends layout

block content
    section
        .container
        if groups
            table.table.is-hoverable.is-striped.is-fullwidth
              thead
                tr
                  th Name of group
                  th Chats of group
              each group in groups
                tr
                  td 
                    a(href= group.ID_GROUP) #{group.name}
                  td    
                    a(href='list/'+ group.ID_GROUP + '/chats') chats
    