extends layout-no-bulma

block content
    section.hero
            // .hero-head
            nav.hero-head
                .columns.is-mobile.is-marginless.heading.has-text-weight-bold
                    .column.left
                        a(href='landing_home.html')
                            img(src='/images/logo.png', style='width: 80px; height: 50px;')
                    .column.center.desktop
                        // <p class="navbar-item has-text-black">GRUPY</p>
                    .column-left
                        .field
                            .control
                                input.input(type='text', placeholder='search')
                    .column-right
                        link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css', rel='stylesheet')
                        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
                        .dropdown
                            .dropdown-trigger
                                button.button(aria-haspopup='true', aria-controls='dropdown-menu')
                                    span Account
                                    span.icon.is-small
                                        // fontawesome required for the icon
                                        i.fa.fa-angle-down(aria-hidden='true')
                            #dropdown-menu.dropdown-menu(role='menu')
                                .dropdown-content
                                    a.dropdown-item(href='#')
                                        | Profile
                                    hr.dropdown-divider
                                    a.dropdown-item(href='#')
                                        | Groups
                                    hr.dropdown-divider
                                    a.dropdown-item
                                        label#log-id Log In
                        script(type='text/javascript', src='/javascripts/bulma.js')
        // END NAV
        .container
            .section
                .box.has-background-primary
                    p.title.is-5.no-padding.has-text-white Profile of User
                // Developers
                .row.columns
                    .column.is-one-third
                        .card.large
                            .card-image
                                figure.image
                                    img#user-profile-picture-id(src='https://i.imgsafe.org/a4/a4bb9acc5e.jpeg', alt='Image')
                            .card-content
                                .media
                                    .media-content
                                        p#user-first-name-id.title.is-4.no-padding Nejc
                                        p#user-location-city-country-id.title.is-6.no-padding Ljubljana, Slovenia
                                        p#user-registration-year-id.title.is-6.no-padding Member since 2018
                                        p#user-email-id.title.is-6.no-padding nejckosir@hotmail.com
                                // <div id = "user-description" class="content">
                                // Lovely student of Computer Science. Currently employed part-time at Result d. o. o.
                                // <div class="background-icon"><span class="icon-twitter"></span></div>
                                // </div>
                    .column.is-one-half
                        .card.large
                            .card-content
                                p.title.is-6.padding User's own description
                            #user-description-box.card-content
                                p#user-description
                                    | Lovely student of Computer Science. Currently employed part-time at Result d. o. o.
                                .background-icon
                                    span.icon-twitter
                            .card-content
                                .content
                                    link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css', rel='stylesheet')
                                    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
                                    .dropdown.is-hoverable
                                        .dropdown-trigger
                                            button.button(aria-haspopup='true', aria-controls='dropdown-menu4')
                                                span Other peoples' reviews
                                                span.icon.is-small
                                                    i.fas.fa-angle-down(aria-hidden='true')
                                        #dropdown-menu4.dropdown-menu(role='menu')
                                            .dropdown-content.has-background-danger
                                                .dropdown-item.has-text-white
                                                    p#user-review-first-id He is my hero. Love him. His socks tend to be smelly though.
                                                hr.dropdown-divider
                                                .dropdown-item.has-text-white
                                                    p#user-review-second-id Lovely old chap. Elementary, Watson.
                                    script(type='text/javascript', src='/javascripts/bulma.js')
                // End Developers
        footer.footer