extends layout

block content
    div.col-sm-3
    div.col-sm-6.panel.panel-default#profile-panel
        div.col-sm-4
            img.profile-user-picture(src="/images/profile.png")
        div.col-sm-4
            span Matic Šincek
    div.col-sm-3